@import '../../styles/colors.scss';
@import '../../styles//mixins.scss';

.inputWrap {
  @include flex-col-center;
  width: 100%;

  .customField {
    width: 100%;
    height: 60px;
    background: $input-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 12px;
    padding: 16px;
    transition: border 0.1s ease;

    .input {
      width: 100%;
      background: $input-bg;
      font-weight: 500;
      font-size: 20px;
      color: $black;
      border: none;
      outline: none;
      vertical-align: middle;

      &::placeholder {
        font-weight: 500;
        font-size: 20px;
        color: $gray;
      }
    }

    .iconContainer {
      @include flex-col-center;
      cursor: pointer;

      .inputIcon {
        width: 28px;
        height: 28px;
        fill: $gray;
        transition: all 0.3s ease;

        &:hover {
          fill: $secondary;
        }
      }
    }
  }

  .errorMsg {
		height: 16px;
		font-size: 16px;
		font-weight: 500;
		color: red;
		margin-top: 5px;
		text-align: center;
		transition: font-size 0.1s ease;
	}
}
